@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    html, body {margin: 0; height: 100%; overflow: hidden}

    @media (min-width: 500px) {
        html{
            font-size: 8px;
        }
    }
    @media (min-width: 700px) {
        html{
            font-size: 10px;
        }
    }
    @media (min-width: 1400px) {
        html{
            font-size: 10px;
        }
    }
    @media (min-width: 1800px) {
        html{
            font-size: 12px;
        }
    }
    @media (min-width: 2000px) {
        html{
            font-size: 16px;
        }
    }
    
    
    


    .queue-current {
        @apply text-white bg-content2 w-screen m-0 h-1/3 shadow-xl content-center text-center items-center justify-center flex;
    }
    .queue-current-card {
        @apply bg-primary rounded-3xl text-[14rem] w-80 h-72 m-3 p-3 shadow-xl cursor-pointer select-none transition-all content-center;
    }

    .queue-screen {
        @apply flex min-h-screen flex-col p-0 h-screen;
    }
    .queue-top {
        @apply  text-9xl bg-content2 w-screen m-0 h-1/3 shadow-xl flex flex-wrap content-center text-center p-20;
    }

    .queue-bottom {
        @apply  bg-content1 h-1/3 w-screen content-center text-center p-20  flex flex-wrap justify-center;
    }

    .student-card {
        @apply text-white bg-primary rounded-3xl text-7xl w-32 h-28 m-3 p-3 shadow-xl cursor-pointer select-none transition-all leading-none content-center;
    }
    .student-card-disabled {
        @apply bg-default student-card animate-jump animate-once animate-duration-200 animate-ease-linear
    }

    .queue-card {
        @apply student-card animate-jump-in animate-once animate-duration-500 animate-ease-in transition-all cursor-default;
    }

    .delete-card{
        @apply absolute ml-24 -mt-12 text-danger text-[3rem] cursor-pointer invisible group-hover:visible font-bold animate-wiggle animate-infinite

    }

    .queue-card:first-child {
        -webkit-animation: move 1s ease-out;
        animation: move 1s ease-out;
    }
    @keyframes move {
        0% {
            margin-left: 144px
        }
       100% {margin-left: 12px;}
    }
    
    .menu {
        @apply absolute right-0 m-4 w-16 h-16
    }

    .menu-icon {
        mix-blend-mode: difference;
        @apply object-cover opacity-70
    }
    .menu-icon:hover {
        @apply opacity-100 animate-infinite animate-wiggle
    }

    .menu-sidebar{
        @apply absolute bg-content1 right-0 rounded-l-xl opacity-100 invisible z-50 shadow-2xl p-10 w-96 top-24;
    }
    .menu-sidebar.open{
        @apply mr-0 visible;
        animation: menu-open 0.5s ease-in
    }
    .menu-sidebar.close{
        @apply animate-infinite visible;
        animation: menu-close 0.5s ease-in forwards;
    }
    @keyframes menu-open {
        0% {
            right: -24rem
        }
       100% {
            right:0;
        }
    }

    @keyframes menu-close {
        0% {
            right: 0
        }
       100% {
            right:-24rem;
        }
    }

    

}